
@use 'variables' as *;
@use 'mixins' as *;

.bannerSection {margin: 0 auto;
    position: relative;
}

.bannerSection img{height: auto;}


.foods{
    width: 100%;
    height: auto;
    align-items: center;
}


.bannerSection a {color: black; 
}

