//Body

@use "variables" as *;

body{
    background-color: $bgColorBody;
    
}

//reservation page//
.reserve{
    text-align: center;
}



//menu page//
.vegans, .tacos, .burritos, .drinks {
    display: none;
}//layout needs to be adjusted