//Body

@use "variables" as *;

body{
    background-color: $bgColorBody;
    
}

//reservation page//
.reserve{
    text-align: center;
}



//menu page//
.category-section {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.menu-category {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0 !important;
    
}
.menu-category a {
    text-decoration: none;
}
.category-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
}
@media (min-width: $tablet) {
    .category-section{
        flex-wrap: nowrap;
    }
}
//layout needs to be adjusted