//Body

@use "variables" as *;

body{
    background-color: $bgColorBody;
    
}

//reservation page//
.reserve{
    text-align: center;
}



//menu page//
.category-section {
    display: none;
    justify-content: space-evenly;
}
.menu-category {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: none!important;
    font-size: 1.5em;
    font-weight: bold;
    
}
.menu-category a {
    text-decoration: none;
}
.category-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
}
//layout needs to be adjusted