@use 'variables' as *;
@use 'mixins' as *; 


footer {
    background-color: $brandColor;
    height: 40px;
    margin-top: 120px;
    padding: 0;
    text-align:center

}

footer p{
    margin:0 auto;
    margin-top: 15px;
    line-height: 20px;
}
