//Header

@use 'variables' as *;
@use 'mixins' as *; 

header {
    background-color: $brandColor;
    padding: 20px 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
    h1{
        color:$textColorLight;
        @include flatten($isText: true);
    }
}
