//Main

@use 'variables' as *;

main{
    padding: 0 $pad;
   
    background-color: white;

}



.aboutUs h2{ text-align: center;
    color:#006341;

}

.description h1{
    text-align: center;
    color: #006341;
}

.description h2{
    color: $brandColor;
}


.description img {
    width:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.maps h2 {
    text-align: center;
    color:#006341;
    
}


// Did not change ID for the map that we got externally as it breaks the CSS :(
#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    display: block;
    margin: 0 auto;
    

}