
//Main Site Variables

//Colors
$brandColor: orange;
$bgColorBody: lightgrey;
$bgColorWrapper: white;
//Text Colors
$textColorLight: white;
$textColorDark: black;

//Fonts
$fontBody: Arial;
$fontHeading: Georgia;
//Layout Variables
$lineHeight:1.4;
//Gutters
$pad: 30px;
$gutter: 2; 

