//Wrapper

@use 'variables' as *;
@use 'mixins' as *;

.wrapper {
    max-width: 800px;
    background-color: $bgColorWrapper;
    @include mc;
    
    @include mq($tabletSmall){
        background-color: lightgrey;
    }
}


