//Wrapper

@use 'variables' as *;
@use 'mixins' as *;

.wrapper {
    max-width: 800px;
    background-color: $bgColorWrapper;
    @include mc;
    
    @include mq($tabletSmall){
        background-color: lightgrey;
    }
}

.foods{
    width: 370px;
    height: auto;
    align-items: center;
    padding: 40px 20px;
    margin: -1px;
    margin-top: 10px;
    position: relative;
}

.btn{
    width: 370px;
    height: auto;
    align-items: center;
    padding: 40px 20px;
    margin: -1px;
    margin-top: 10px;
    position: relative;
}